node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
coverage
.nyc_output
.DS_Store
logs
*.log
doc
translations
postman
.github
scripts
.dockerignore
docker-compose.yml
render.yaml
*.md
test-report.json
